<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.seata.inventory.server.dao.ProductInventoryInfoMapper">
  <resultMap id="BaseResultMap" type="com.dream.seata.inventory.server.entity.ProductInventoryInfo">
    <id column="inventory_id" jdbcType="BIGINT" property="inventoryId" />
    <result column="product_uid" jdbcType="VARCHAR" property="productUid" />
    <result column="current_inventory_num" jdbcType="BIGINT" property="currentInventoryNum" />
    <result column="lock_num" jdbcType="BIGINT" property="lockNum" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inventory_id, product_uid, current_inventory_num, lock_num, version, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_inventory_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_inventory_info
    where inventory_id = #{inventoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_inventory_info
    where inventory_id = #{inventoryId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfoExample">
    delete from product_inventory_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="inventory_id" keyProperty="inventoryId" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfo" useGeneratedKeys="true">
    insert into product_inventory_info (product_uid, current_inventory_num, lock_num, 
      version, create_time, update_time
      )
    values (#{productUid,jdbcType=VARCHAR}, #{currentInventoryNum,jdbcType=BIGINT}, #{lockNum,jdbcType=BIGINT}, 
      #{version,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="inventory_id" keyProperty="inventoryId" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfo" useGeneratedKeys="true">
    insert into product_inventory_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productUid != null">
        product_uid,
      </if>
      <if test="currentInventoryNum != null">
        current_inventory_num,
      </if>
      <if test="lockNum != null">
        lock_num,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productUid != null">
        #{productUid,jdbcType=VARCHAR},
      </if>
      <if test="currentInventoryNum != null">
        #{currentInventoryNum,jdbcType=BIGINT},
      </if>
      <if test="lockNum != null">
        #{lockNum,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfoExample" resultType="java.lang.Long">
    select count(*) from product_inventory_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_inventory_info
    <set>
      <if test="record.inventoryId != null">
        inventory_id = #{record.inventoryId,jdbcType=BIGINT},
      </if>
      <if test="record.productUid != null">
        product_uid = #{record.productUid,jdbcType=VARCHAR},
      </if>
      <if test="record.currentInventoryNum != null">
        current_inventory_num = #{record.currentInventoryNum,jdbcType=BIGINT},
      </if>
      <if test="record.lockNum != null">
        lock_num = #{record.lockNum,jdbcType=BIGINT},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_inventory_info
    set inventory_id = #{record.inventoryId,jdbcType=BIGINT},
      product_uid = #{record.productUid,jdbcType=VARCHAR},
      current_inventory_num = #{record.currentInventoryNum,jdbcType=BIGINT},
      lock_num = #{record.lockNum,jdbcType=BIGINT},
      version = #{record.version,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfo">
    update product_inventory_info
    <set>
      <if test="productUid != null">
        product_uid = #{productUid,jdbcType=VARCHAR},
      </if>
      <if test="currentInventoryNum != null">
        current_inventory_num = #{currentInventoryNum,jdbcType=BIGINT},
      </if>
      <if test="lockNum != null">
        lock_num = #{lockNum,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inventory_id = #{inventoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.seata.inventory.server.entity.ProductInventoryInfo">
    update product_inventory_info
    set product_uid = #{productUid,jdbcType=VARCHAR},
      current_inventory_num = #{currentInventoryNum,jdbcType=BIGINT},
      lock_num = #{lockNum,jdbcType=BIGINT},
      version = #{version,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where inventory_id = #{inventoryId,jdbcType=BIGINT}
  </update>
</mapper>